@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'QuincyCF';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/QuincyCF-Regular.woff) format('woff');
		src: url(/fonts/QuincyCF-Regular.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Helvetica';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/HelveticaNeueCyr-Roman.woff) format('woff');
	}
}

@layer base {
	* {
		position: relative;
		scroll-behavior: smooth;
		@apply font-sans text-accent;
	}
	html {
		@apply overflow-x-hidden;
	}
	img {
		@apply object-cover;
	}
	.container {
		max-width: 1920px !important;
	}
	.btn {
		@apply flex w-fit items-center justify-center whitespace-nowrap rounded bg-accent px-12 py-4 text-base leading-tight text-white transition duration-300 hover:bg-accentHover focus:bg-accentHover active:bg-accentHover disabled:bg-accentHover disabled:opacity-60 max-md:px-6 max-md:py-3 max-md:text-sm;
	}
	.btn-dull {
		@apply flex w-fit items-center justify-center whitespace-nowrap rounded bg-dull px-12 py-4 text-base leading-tight text-accent transition duration-300 hover:bg-dullHover focus:bg-dullHover active:bg-dullHover max-md:px-6 max-md:py-3 max-md:text-sm;
	}
	.btn-bordered {
		@apply flex w-fit items-center justify-center whitespace-nowrap rounded border border-[#D3CAC0] bg-transparent px-12 py-4 text-lg leading-tight text-accent transition duration-300 hover:text-accentHover focus:text-accentHover active:text-accentHover max-md:px-6 max-md:py-3 max-md:text-sm;
	}
	.btn-text {
		@apply text-[#C6A07D] underline underline-offset-2;
	}
	.basic-input {
		@apply rounded border border-borderColor px-4 py-3;
	}
	section {
		max-width: 1920px;
		margin-inline: auto;

		@apply mb-32 max-lg:mb-20 max-md:mb-16;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.thin-scrollbar {
		scrollbar-color: rgba(31, 27, 22, 0.12) #fff;
		scrollbar-width: thin;
	}

	.heading {
		@apply font-serif text-2xl *:font-serif max-md:text-xl;
	}

	.rich-text-block img {
		@apply w-full rounded object-cover;
	}
	.rich-text-block ul {
		@apply flex flex-col gap-3;
	}
	.rich-text-block li {
		@apply pl-5;
	}
	.rich-text-block li::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: flex;
		border-radius: 100%;
		height: 8px;
		width: 8px;
		background-color: #cfbba5;
	}
	.rich-text-block a {
		@apply text-[#C6A07D];
	}
}
